/*@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;1,700&display=swap');*/

* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

ul {
    margin: 0;
    padding: 0;
}

ul>li {
    list-style: none;
}

.wrapper {
    min-height: 100%;

}

.container {

    max-width: 1210px;
    margin: 0px auto;

}

.header {
    background-color: yellow;

}

.header__container {
    display: flex;
    justify-content: space-between;
    column-gap: 10px;
    align-items: center;
    padding-top: 18px;
    padding-bottom: 21px;
}

.logo {
    display: flex;
    align-items: center;
    column-gap: 30px;
}

.logo__img-wrap {
    height: 60px;
    width: 60px;
    border: 2px solid #000000;
    border-radius: 50%;
    position: relative;
}

.logo__img {
    width: 80%;
    height: 90%;

    object-fit: cover;
    position: absolute;
    top: 50%;

    transform: translateY(-50%);
}

.logo__title {

    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 131.19%;
    color: #000000;
}

.logo__subtitle {

    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 131.19%;
    color: #000000;
}

.nav__list {
    display: flex;
}

.nav__item {

    margin-right: 55px;
}

.nav__item:last-child {
    margin-right: 0px;
}

.nav__link {

    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
    text-decoration: none;
}

.contact__tel {

    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
    text-decoration: none;
}

.cart {
    background: #FFFFFF;
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.14);
    border-radius: 50px;
    display: flex;
    align-items: center;
    padding-right: 13px;
}

.cart__img-wrap {
    background-color: #FFBF42;
    width: 50.96px;
    height: 50.96px;
    display: block;
    overflow: hidden;
    border-radius: 50%;
    position: relative;
}

.cart__img {
    width: 50%;
    height: 50%;
    object-fit: contain;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.cart__price {
    display: flex;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
}

.cart__price,
.cart__btn {
    margin-left: 13px;
}

.cart__price-value {}

.cart__btn {
    background-color: transparent;
    border: none;
    width: 11.62px;
    height: 11.62px;
    position: relative;
}

.cart__btn-img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}